{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="store_list.css">
<style>
  

</style>

<div class="container">
  <h2>Store Directory</h2>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for s in stores %}
      <tr>
        <td data-label="Name">{{ s.name }}</td>
        <td data-label="Email">{{ s.email }}</td>
        <td data-label="Phone">{{ s.phone }}</td>
        <td data-label="Active">{{ s.is_active|yesno:"Yes,No" }}</td>
        <td data-label="Actions">
          <a href="{% url 'store_manage' s.id %}" class="action-link edit">Edit</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5" class="no-stores">No stores available.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<footer class="footer">
    <p>&copy; 2025 Primebooks System. All rights reserved.</p>
    <p>
      Developed by <a href="https://github.com/agabaderick" target="_blank">PFU</a> |
      <a href="#">Privacy Policy</a> |
      <a href="#">Terms of Service</a>
    </p>
  </footer>
{% endblock %}
